*.asv
*.mat
*.m~
*.nc
**/.idea/*
2016/Publication/*

# Large data
2016/7-export/BMM_web/*
2016/7-export/zenodo/*
2018/data/*
2018/old/* 

# All dataset of BS or SF or cosmo
2018/comparison_Birdscan/**/*.zip 
2018/comparison_Birdscan/**/*.csv
2018/comparison_Birdscan/**/*.mdb


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
2016/2-Inference/data/Density_data.csv
2016/3-Validation/data/*.csv
2016/eurobirdPortal/EBP_files/*.csv
